@import "./utils/variables";
@import "./utils/visually-hidden";
@import "./base.scss/common";
@import "./base.scss/container";
@import "./components/page.header";
@import "./components/logo-header&footer";
@import "./components/main-portfolio";
@import "./components/first-section";
@import "./components/second-section";
@import "./components/first-section-button";
@import "./components/company-description";
@import "./components/team-description";
@import "./components/social-media-links";
@import "./components/clients-section";
@import "./components/backdrop";
@import "./components/footer";
@import "./components/modal";

