.clients-section__icons-box {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  column-gap: 30px;
  padding-bottom: 94px;
}

.clients-section__paragraph {
  padding-top: 94px;
}

.clients-section__icon {
  flex-basis: calc((100% - 150px) / 6);
  border: solid rgba(175, 177, 184, 1) 1px;
  border-radius: 4px;
  fill: rgba(175, 177, 184, 1);
  transition: fill 250ms var(--cubic-bezier),
    border-color 250ms var(--cubic-bezier);

  &:hover,
  &:focus,
  &:active {
    fill: var(--third-brand-color);
    border-color: var(--third-brand-color);
  }
}
