.header__logo--style {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
  cursor: none;
}
.header__logo--part1 {
  color: #2196f3;
}
.header__logo--part2 {
  color: rgba(0, 0, 0, 1);
}

.footer-section__logo--style {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
  cursor: none;
}
.footer-section__logo--part1 {
  color: #2196f3;
}
.footer-section__logo--part2 {
  color: #ffffff;
}
.footer-section__logo-footer-box {
  margin-bottom: 20px;
}