.main-portfolio h3 {
  font-size: 18px;
  line-height: 2;
}
.main-portfolio p {
  color: var(--grey-font-icon-color);
  font-size: 16px;
  line-height: 1.875;
}
.main-portfolio section {
  background-color: var(--first-brand-color);
}
.portfolio-images-list__paragraph {
  border-bottom: solid #eeeeee 1px;
  border-right: solid #eeeeee 1px;
  border-left: solid #eeeeee 1px;
  margin-top: -5px;
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
}
.portfolio-images-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-bottom: 94px;
}
.portfolio-images-list__photo-block {
  background-color: var(--first-brand-color);
  margin-bottom: 0;
}
.portfolio-images-list__paragraph {
  border-bottom: solid #eeeeee 1px;
  border-right: solid #eeeeee 1px;
  border-left: solid #eeeeee 1px;
  margin-top: -5px;
  padding-top: 20px;
}
.portfolio-images-list__card li {
  flex-basis: calc((100% - 60px) / 3);
}

.portfolio-images-list__card {
  cursor: pointer;
  box-shadow: none;
  transition: box-shadow 250ms var(--cubic-bezier);

  &:active,
  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16),
      0 4px 4px 0 rgba(0, 0, 0, 0.06);
  }
}
.portfolio-images-list__item {
  position: relative;
  overflow: hidden;
}
.portfolio-images-list__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
  padding-bottom: 49px;
  background-color: rgba(33, 150, 243, 0.9);
}
.portfolio-images-list__overlay > p {
  color: var(--first-brand-color);
  font-size: 18px;
  line-height: 1.55;
}
.portfolio-images-list__card:hover .portfolio-images-list__overlay {
  transform: translatey(0);
}
.portfolio-images-list__overlay {
  transform: translateY(101%);
  transition: transform 250ms var(--cubic-bezier);
}
.portfolio-button-list__item {
  color: rgba(33, 33, 33, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: rgba(245, 244, 250, 1);
  padding: 6px 22px 6px 22px;
  border-style: none;
  border-radius: 4px;
  transition: color 250ms var(--cubic-bezier),
    background-color 250ms var(--cubic-bezier),
    box-shadow 250ms var(--cubic-bezier);

  &:active,
  &:focus,
  &:hover {
    background-color: var(--third-brand-color);
    color: var(--first-brand-color);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12),
      inset 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  }
}

.portfolio-button-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-top: 94px;
  margin-bottom: 50px;
  column-gap: 8px;
}
