.header {
  background-color: var(--background-color-haeder);
  border-bottom: solid #ececec 1px;
  padding-bottom: 24px;
  padding-top: 24px;
  // width: 100%;
 


  @media screen and (max-width: 767px){

   padding-bottom: 16px;
   padding-top: 16px;
  }
}

.header__contacts-icon {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  fill: var(--grey-font-icon-color);
}
header li {
  display: inline;
}
.header__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  background-size: cover;

  @media screen and (max-width: 767px) {
    max-width: 767px;
  }
}

.header__nav {
  display:flex;
  @media screen and (max-width: 767px) {
    display: none;
  }

}

.header__links{

  display: flex;
  
  
  @media screen and (max-width: 767px) {
    display: none;
  }
 
}
.header__links--right{
display:flex;

@media screen and (max-width: 767px) {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  flex-direction: column;
  align-content: center;
  row-gap: 10px;
}

@media screen and (min-width: 1200px) {
  flex-direction: row;
  column-gap: 30px;


}
}

.header__links li:nth-child(1) {

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 83px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }

}
.header__links li:nth-child(2) {

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 46px;
  }
  
}
.header__links li:nth-child(3) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 46px;
  }
}
.header__links li {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  margin: auto;
}

.header__contacts-item{

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 0px;
  }
  @media screen and (min-width: 1200px)  {
    
  }


}
.header__navigation-link {
  color: rgba(33, 33, 33, 1);
  text-decoration: none;
  transition: color 250ms var(--cubic-bezier);
  position: relative;

  &:active,
  &:hover,
  &:focus {
    color: var(--third-brand-color);
  }

  &--active1:hover::after,
  &--active1:link::after {
    position: absolute;
    content: "";
    width: 58px;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
    top: 44px;
    left: 0;
  }

  &--active2:hover::after,
  &--active2:link::after {
    position: absolute;
    content: "";
    width: 58px;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
    top: 44px;
    left: 0;
  }
}

.header__contacts-link {
  color: var(--grey-font-icon-color);
  text-decoration: none;
  transition: color 250ms var(--cubic-bezier);
}

.header__contacts-link:active,
.header__contacts-link:hover,
.header__contacts-link:focus {
  color: var(--third-brand-color);

@media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 0;
  }

}

.header__contacts-link svg {
  transition: fill 250ms var(--cubic-bezier);
}
.header__contacts-link:hover svg {
  fill: var(--third-brand-color);
}

.menu-window{

  width:40px;
  height:40px;
  display:block;
  align-items: center;
  justify-content: center;
  background-color:transparent;
  fill:#212121;
  border:none;
  margin-left:auto;
  cursor:pointer;
  
  

  &:hover, 
  &:focus{

  fill: var(--third-brand-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  } 
  
}
.menu-mobile {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  padding: 15px 10px 48px 40px;
  z-index:6;
}

.flex{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-mobile__button-close {

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #212121;
  border: none;
  margin-left: auto;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}


.menu-mobile__list-item {
  display:flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.menu-mobile__list-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  color:rgba(33, 33, 33, 1);

  &:focus,
  &:hover {
    color: var(--third-brand-color);
  }

  &--current {
    color: var(--third-brand-color);
  }
}
.menu-mobile__phone {
  display: block;
  margin-bottom: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  color: #2196f3;
  
}

.menu-mobile__mail {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 1);
  margin-bottom: 64px;
}

.menu-mobile__social {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}


.menu-mobile__social-item {
position: relative;
font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;
color: #2196f3;

  &:not(:first-child)::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -10px;
    width: 1px;
    height: 22px;
    background-color: rgba(33, 33, 33, 0.2);
  }
}

.mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}