:root {
  --first-brand-color: rgba(255, 255, 255, 1);
  --second-brand-color: rgba(47, 48, 58, 1);
  --grey-font-icon-color: rgba(117, 117, 117, 1);
  --third-brand-color: rgba(33, 150, 243, 1);
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}
